body{
	background-size:cover;
}

.speed_div{
	float:left;
}

.volume_div{
	float:right;
}

.speed_div img{
	width:200px;
	border-radius:100px;
}

.volume_div img{
	width:200px;
	border-radius:100px;
}

canvas{
	border-radius:20px;
	border:5px solid white;
}